@media screen and (min-width:768px){
    body{
        font-size: .7rem;
    }

    section .row{
        flex-direction: row;
    }
    
    /******SERVICES*******/
    
    #services .col-md-1_2{
        flex-basis: 50%;
    }

    /******PLANNING******/

    #planning .container .row{
        justify-content: center;
    }

    /*******TESTIMONIAL******/

    #testimonial .md-row{
        display: flex;
    }
    #testimonial .card div{
        align-items: start;
    }

    /********BENEFITS******/
    
    #benefits .col-md-1_2{
        flex-basis: calc(100% / 2);
    }

    /*******ABOUT US******/

    #about-us .col-md-1_3{
        flex-basis: calc(100% / 3);
    }
    #about-us .col-md-2_3{
        flex-basis: calc(100% / 3 * 2);
    }

}

@media screen and (min-width:992px) {

    body{
        font-size: .8rem;
    }

    /*******NAVBAR******/

    nav ul{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    nav .hamburger{
        display: none;
    }

    /******SERVICES******/

    #services .pd-lg-bot-3-9rem{
        padding-bottom: 3.9rem;
    }
    #services .col-lg-1_3{
        flex-basis: calc(100% / 3);
    }
    #services .col-lg-2_3{
        flex-basis: calc(100% / 3 * 2);
    }
    
    /******PLANNING******/

    #planning .row .row{
        flex-direction: column;
    }
    #planning .pd-lg-top-3rem{
        padding-top: 3rem;
        padding-bottom: 0;
    }
    #planning .col-lg-1_3{
        flex-basis: calc(100% / 3);
    }
    #planning .col-lg-1_3:last-child{
        align-self: end;
    }

    /********BENEFITS******/
    
    #benefits .col-lg-1_3{
        flex-basis: calc(100% / 3);
    }

}




